/********** Custom Font **********/
@font-face {
  font-family: Gloock;
  src: url("./assets/fonts/Gloock-Regular.ttf");
}

/********** Default CSS **********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: "";
  background-image: url("./assets/images/carbon.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/********** Main Page CSS **********/
.first-letters {
  font-size: 10rem;
  font-family: Gloock;
  color: #0d6efd;
}
.second-letters {
  font-size: 10rem;
  font-family: Gloock;
}

.main-slogan {
  font-size: 1.7rem;
}

.carousel-container {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption-box {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  border-radius: 30px;
  padding: 5px;
}

.carousel-caption h3 {
  padding-top: 10px;
  font-weight: 800;
}

.carousel-caption {
  position: absolute;
  top: 5%;
  color: #121212;
  font-weight: 600;
  z-index: 2;
}

.carousel-caption a {
  color: #004ab8;
  font-size: 20px;
  text-decoration: none;
}

.carousel-caption a {
  font-size: 20px;
}

.carousel-caption a:hover {
  color: #0066ff;
}

.skill-slider .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
}

.skill-slider .item img {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
  margin-bottom: 30px;
}

.mission-box {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  padding: 20px;
}

.mission-text {
  font-size: 1.4rem;
  font-weight: 300;
  padding: 20px;
}

.contact {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}

.contact button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #004ab8;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.contact button:hover {
  background-color: #0066ff;
}

.field {
  margin: 20px;
  padding: 20px;
  font-size: 20px;
}

.field label {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.field input {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  outline: none;
}

.field textarea {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  outline: none;
}

/********** Scroll Button CSS **********/

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #004ab8;
  color: white;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #0066ff;
}

.scroll-to-top.visible {
  opacity: 1;
}

/********** Nav Bar CSS **********/

.navbar {
  padding: 10px;
}

.navbar .navbar-brand {
  font-size: 1.6rem;
  font-weight: 800;
  padding-left: 10px;
  padding-right: 50px;
}

.navbar .nav-link {
  font-size: 1.1rem;
  font-weight: 600;
  margin-right: 20px;
}

/********** Footer CSS **********/
.footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

/********** Form CSS **********/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.form-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #121212;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-floating label {
  display: block;
  margin-top: 8px;
}

.submit-container {
  text-align: center;
}

.submit-button {
  padding: 10px 20px;
  border: none;
  background-color: #004ab8;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #0066ff;
}

/********** Table CSS **********/

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

.table-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background-color: #121212;
  color: #ffffff;
}

.table thead th {
  padding: 1rem 0;
  padding-left: 10px;
  text-align: left;
  font-weight: 500;
}

.table-card h3 {
  color: #121212;
  text-align: center;
}

.table tbody tr {
  transition: background-color 0.2s;
}

.table tbody tr:hover {
  background-color: #f7f7f7;
}

.table tbody td {
  padding: 1rem 0;
  border-bottom: 1px solid #eaeaea;
}
